In [3]:
from spam import *

column_names = load_column_names("./spam/spambase.names")
data = load_data("./spam/spambase.data", column_names)

network1 = Network(data, data.columns[:-1], [data.columns[-1]], [114, 1])
network1.train_network(50, 0.1)

In [4]:
network2 = Network(data, data.columns[:-1], [data.columns[-1]], [114, 1])
network2.train_network(75, 0.1)

In [5]:
network3 = Network(data, data.columns[:-1], [data.columns[-1]], [114, 1])
network3.train_network(100, 0.1)

In [17]:
network1.test()

     pred  result
0     1.0     0.0
1     1.0     0.0
2     1.0     0.0
3     1.0     1.0
4     1.0     0.0
..    ...     ...
916   1.0     1.0
917   1.0     0.0
918   1.0     0.0
919   1.0     0.0
920   1.0     0.0

[921 rows x 2 columns]

In [7]:
network2.test()

     pred  result
0     1.0     0.0
1     1.0     0.0
2     1.0     0.0
3     1.0     1.0
4     1.0     0.0
..    ...     ...
916   1.0     1.0
917   1.0     0.0
918   1.0     0.0
919   1.0     0.0
920   1.0     0.0

[921 rows x 2 columns]

In [8]:
network3.test()
pd.to_numeric()

     pred  result
0     1.0     0.0
1     1.0     0.0
2     1.0     0.0
3     1.0     1.0
4     1.0     0.0
..    ...     ...
916   1.0     1.0
917   1.0     0.0
918   1.0     0.0
919   1.0     0.0
920   1.0     0.0

[921 rows x 2 columns]

In [22]:

# import matplotlib.pyplot as plt

# plt.xlabel("Iteraciones")
# plt.ylabel("Error")
# plt.plot([i for i in range(1,51)], network1.error_medio, color='red')
# plt.plot([i for i in range(1,76)], network2.error_medio, color='blue')
# plt.plot([i for i in range(0,100)], network3.error_medio, color='green')
# plt.legend(loc="lower right")
# plt.show()

network3.error_maximo

[1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15,
 1.3322676295501878e-15]