In [1]:
from spam import *

column_names = load_column_names("./spam/spambase.names")
data = load_data("./spam/spambase.data", column_names)

network1 = Network(data, data.columns[:-1], [data.columns[-1]], [114, 1])
network1.train_network(50, 0.01)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [2]:
network2 = Network(data, data.columns[:-1], [data.columns[-1]], [114, 1])
network2.train_network(100, 0.01)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
network3 = Network(data, data.columns[:-1], [data.columns[-1]], [114, 1])
network3.train_network(150, 0.01)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

In [7]:
network1.test()

     pred  result
0     1.0     0.0
1     1.0     0.0
2     1.0     0.0
3     1.0     1.0
4     1.0     0.0
..    ...     ...
916   1.0     1.0
917   1.0     0.0
918   1.0     0.0
919   1.0     0.0
920   1.0     0.0

[921 rows x 2 columns]

In [5]:
network2.test()

     pred  result
0     1.0     0.0
1     1.0     0.0
2     1.0     0.0
3     1.0     1.0
4     1.0     0.0
..    ...     ...
916   1.0     1.0
917   1.0     0.0
918   1.0     0.0
919   1.0     0.0
920   1.0     0.0

[921 rows x 2 columns]

In [6]:
network3.test()

     pred  result
0     1.0     0.0
1     1.0     0.0
2     1.0     0.0
3     1.0     1.0
4     1.0     0.0
..    ...     ...
916   1.0     1.0
917   1.0     0.0
918   1.0     0.0
919   1.0     0.0
920   1.0     0.0

[921 rows x 2 columns]