In [1]:
import pandas as pd
from network import Network

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
dep = df.columns.values[-1]
ind = df.columns.values[:-1]

In [5]:
network = Network(df,ind,dep,[5,4,len(ind)])

In [8]:
network.form_network()

In [9]:
network.get_info()

[<neuron.Neuron object at 0x000001FEF11D27D0>, <neuron.Neuron object at 0x000001FEEFC0F390>, <neuron.Neuron object at 0x000001FEEFC14810>, <neuron.Neuron object at 0x000001FEF1202350>, <neuron.Neuron object at 0x000001FEF1203150>]
5
[<neuron.Neuron object at 0x000001FEF1200550>, <neuron.Neuron object at 0x000001FEF1202B50>, <neuron.Neuron object at 0x000001FEF1202010>, <neuron.Neuron object at 0x000001FEF1203350>]
4
[<neuron.Neuron object at 0x000001FEF1203A90>, <neuron.Neuron object at 0x000001FEF12006D0>, <neuron.Neuron object at 0x000001FEF1203290>, <neuron.Neuron object at 0x000001FEF1200790>]
4

In [22]:
import pandas as pd
from network import Network
import matplotlib.pyplot as plt

dep = ['Iris-setosa','Iris-versicolor','Iris-virginica']
ind = ['sepal_length','sepal_width','petal_length','petal_width']
df = pd.read_csv("iris.csv")
n = Network(df, ind, dep, [len(ind), 5, 4, len(dep)])
n.train_network(5000, 0.01)

0
1

KeyboardInterrupt:

In [21]:
print(n.evaluate([5.7,3.8,1.7,0.3]))

x_train, x_test, y_train, y_test = n.get_training_test(n.data)

y_test

[0.32749999675199665, 0.3404503527306517, 0.3257780078117647]

     Iris-setosa  Iris-versicolor  Iris-virginica
73             0                1               0
18             1                0               0
118            0                0               1
78             0                1               0
76             0                1               0
31             1                0               0
64             0                1               0
141            0                0               1
68             0                1               0
82             0                1               0
110            0                0               1
12             1                0               0
36             1                0               0
9              1                0               0
19             1                0               0
56             0                1               0
104            0                0               1
69             0                1               0
55             0                1               0
132            0                0               1
29             1                0               0
127            0                0               1
26             1                0               0
128            0                0               1
131            0                0               1
145            0                0               1
108            0                0               1
143            0                0               1
45             1                0               0
30             1                0               0